*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM-Mono", sans-serif;
}

*::selection{
	background: #baffea;
	color: #111215;
}

::-webkit-scrollbar{
	width: 3px;
	background: var(--primary);
}

::-webkit-scrollbar-thumb{
	background-color: var(--bg);
}

:root {
    --blue: #0157ff;
}

@font-face{
    font-family: 'DM-Mono';
    src: url('../font/DM-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body{
	width: 100%;
	height: 100dvh;
	background-color: #000;
	display: flex;
	justify-content: center;
}

main{
	width: 1000px;
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.navbar{
	background-color: #090909;
	width: 100%;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #222;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1{
		color: var(--blue);

		span{
			font-weight: normal;
			font-size: 29px;
		}
	}

	.anchores{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;

		a{
			font-size: 17px;
			text-decoration: none;
			color: #fff;
			padding: 10px;
			transition: 0.1s;
		}

		a:hover{
			background-color: rgba(0, 0, 0, 0.8);
		}
	}

	button{
		font-size: 17px;
		background-color: #000;
		border: 1px solid #222;
		color: #fff;
		padding: 5px 15px;
		cursor: pointer;
		transition: 0.1s;
	}

	button:hover{
		border: 1px solid var(--blue);
	}
}


.box1{
	width: 100%;
	background-color: #321;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	.box2{
		height: 100%;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		display: flex;
		background-color: #090909;
		width: 70%;
		padding: 15px;
		border: 1px solid #222;

		p{
			color: #999;
		}

		button{
			font-size: 17px;
			background-color: #000;
			border: 1px solid #222;
			color: #fff;
			padding: 5px 15px;
			cursor: pointer;
			transition: 0.1s;
		}

		button:hover{
			border: 1px solid var(--blue);
		}
	}

	.box3{
		height: 100%;
		width: 30%;
		background-color: #090909;
		padding: 15px;
		border: 1px solid #222;
	}
}

@media (width <= 620px){
	main{
		padding: 0px 15px;
	}
}